.topContainer{
    background: url("../../assets/photo1.jpeg");
    height: 100vh;
    background-position: none;
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5); */
}